/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-desc {
    font-family: "Poppins", serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: rgba(112, 112, 112, 1);
  }

/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.inter-btn {
    padding: 16px 20.5px;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600px;
    background-color: rgba(255, 89, 89, 1);
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Banner model */
.banner-container {
    background: 
    linear-gradient(0.00deg, rgb(18, 18, 18),
    rgba(18, 18, 18, 0) 100%), url("../images/donation1.jpg") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner {
    padding: 174px 304px;
    text-align: center;
}
.banner-head {
    font-family: "Inter", serif;
    font-weight: bold;
    font-size: 65px;
    color: #ffffff;
    margin-bottom: 20px;
}
.clr {
    color: #ffffff;
}




/* Media Quariy for Small Device */
@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column;
    }
    .banner {
        padding: 10px;
    }
    .banner-head {
        font-size: 30px;
    }
    .poppins-desc {
        font-size: 12px;
    }
}

/* Media Quary for Medium Device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner-container {
        
    }
}